.background{
    position: relative;
    height: 100vh;
    background-image: url('./img/4K-Black-Background-Design-Best-Wallpaper-40658.jpg');
    background-size: ;
    

}
.page1{
    width: 100px;
   margin-top: 80px;
   border-radius: 20px;

    
}


